<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>03BAC32D-712D-4E0E-9E49-7026336C7268</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>perl</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search perldoc for</string>
			<key>url</key>
			<string>http://perldoc.perl.org/search.html?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>2A8637E1-8051-41AF-A04A-488435942CEF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gw</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Google (past week)</string>
			<key>url</key>
			<string>http://www.google.com/%23q={query}&amp;hl=en&amp;tbs=qdr:w</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>355FFD0D-0E03-4E0D-B341-DF9AA040BDC0</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>cal</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>QuickCal entry</string>
			<key>url</key>
			<string>quickcal://add/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>39C2E65B-15C0-48D9-BFCD-DBA610B96E40</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gy</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Google (past year)</string>
			<key>url</key>
			<string>http://www.google.com/%23q={query}&amp;hl=en&amp;tbs=qdr:y</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4F9DB530-8DED-4587-A85C-F04C1C5CE0A9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wikiint</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search staff wiki for</string>
			<key>url</key>
			<string>https://wiki.hpcc.msu.edu/dosearchsite.action?searchQuery.queryString={query}&amp;searchQuery.spaceKey=IntStaff</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>55BD7A83-ACAC-4E11-90C3-5F2D8397C758</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mas</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Mac App Store for</string>
			<key>url</key>
			<string>macappstore://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>64C1B11D-5E9F-440E-805D-6D99DA35F921</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ip</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Lookup IP</string>
			<key>url</key>
			<string>http://whois.domaintools.com/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>6C84EB49-BB72-4972-9DED-4B2119F4770C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>note</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search note for</string>
			<key>url</key>
			<string>nv://{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7482F68E-318E-4B24-A066-575D351F23AC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rt</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search RT</string>
			<key>url</key>
			<string>https://rt.hpcc.msu.edu/Search/Simple.html?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>7F51E7D3-5607-4BF0-BC9A-94D8D35A0529</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stall</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Stall ticket in RT</string>
			<key>url</key>
			<string>https://rt.hpcc.msu.edu/Ticket/Display.html?Status=stalled&amp;id={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>8C411D75-642C-42F7-BAF0-15558C211085</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>its</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search iTunes Store for</string>
			<key>url</key>
			<string>itunes://ax.search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>94543B24-E36D-43A0-8AFD-0D77461F0E22</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gd</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Google (past 24 hrs)</string>
			<key>url</key>
			<string>http://www.google.com/%23q={query}&amp;hl=en&amp;tbs=qdr:d</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A3609A4A-EF9D-4E95-8DAA-7D4CD9A265B5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>forge</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Puppet Forge</string>
			<key>url</key>
			<string>http://forge.puppetlabs.com/modules?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>A3C44B4F-7131-43AE-9CA5-172E19815722</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search GitHub for</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AF8D40D1-336C-4558-A709-2F4509D1B60E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Google (latest)</string>
			<key>url</key>
			<string>http://www.google.com/%23q={query}&amp;hl=en&amp;tbs=rltm:1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BBA1D449-C749-4A2F-A644-8020BDAE606B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search iCER Wiki for</string>
			<key>url</key>
			<string>https://wiki.hpcc.msu.edu/dosearchsite.action?queryString={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>DE94C8E5-8EDE-47BC-86C0-B9E66A8C4266</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>remind</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Add todo to Reminders</string>
			<key>url</key>
			<string>quickcal://add/todo:%20{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>E9F75D97-EBFA-4A76-9E8A-B0181D98E7E4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gm</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Google (past month)</string>
			<key>url</key>
			<string>http://www.google.com/%23q={query}&amp;hl=en&amp;tbs=qdr:m</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EC508B3E-C097-4826-B581-E423044DFC81</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zappos</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Zappos for</string>
			<key>url</key>
			<string>http://www.zappos.com/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
