<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.alfred.stephenc.savenote</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>027AF2A6-D148-47C4-8523-2B59F78D948F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FF29331-C6FE-41C4-A584-1C9843D65FD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0899E68D-8640-49C4-8FC5-10D44BBCB1FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6110E07-DA88-46FA-B7ED-0B09734B5E3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D2894C0-6AAA-48CF-8273-C1C23A4172EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0899E68D-8640-49C4-8FC5-10D44BBCB1FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10552175-AC02-4F56-9334-3F907A722460</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6110E07-DA88-46FA-B7ED-0B09734B5E3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>123A0AAE-F1DB-45F8-8F6F-C35F7160ABB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C55D340F-486C-42D9-9E74-7D91E205D1DB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28F9EAEC-BD57-4806-B8D9-AE4668EE2F27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10552175-AC02-4F56-9334-3F907A722460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BED63B9-A57D-44D8-848C-03FC262A6DC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4B06C22-B123-488F-9E5D-4E87D28E9665</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F1ABB2E-FB26-4D22-B27C-87F3CBF83E61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>123A0AAE-F1DB-45F8-8F6F-C35F7160ABB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>2FF29331-C6FE-41C4-A584-1C9843D65FD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DB6DD22-2405-4189-A787-D97E43D6A852</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8906438C-DF24-4516-988F-AF012B1A748D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FAC3117-49B5-4528-8314-8F2F8B7F4608</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E6A2953-F646-4FC7-93AF-E35AA618CCEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72D2F5B8-4B8C-4DE8-B027-880D973C004B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FE0687C-9B01-43C9-8E98-6688D6A960A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5951C203-E1DC-4C18-8B94-A7736A5661BF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Edit the QuickNote.txt file</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4F3CD5E2-C09C-45FF-A4A6-214A99FD4E85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8367509-E91E-4C47-99E9-D5FF275FCE3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>521F264C-1C1A-4B26-A10A-54765BE2FC06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>721E4646-A50D-4C7C-A6C8-B2E0C3BFE393</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8906438C-DF24-4516-988F-AF012B1A748D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3A50BF7A-0C5B-4CCD-9044-11A63C473FB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>543F74D1-92E3-4DD6-AB90-0A6B3A2B2131</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28F9EAEC-BD57-4806-B8D9-AE4668EE2F27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61B15C07-D3B9-4162-85E0-E3436482B6E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>027AF2A6-D148-47C4-8523-2B59F78D948F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62EF3A84-8886-4155-B016-66B4908B66B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAA1AF1B-B7D6-477B-879D-4DD2632AB45A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DE9BBCB2-A2F4-4408-9FA5-CF0166BC9A3D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0102C32-2278-4EF8-9678-038EA7AFD666</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DB6DD22-2405-4189-A787-D97E43D6A852</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FE0687C-9B01-43C9-8E98-6688D6A960A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>721E4646-A50D-4C7C-A6C8-B2E0C3BFE393</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>669ABA02-F9DA-4448-A132-72D9368E3AC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6110E07-DA88-46FA-B7ED-0B09734B5E3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62EF3A84-8886-4155-B016-66B4908B66B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8367509-E91E-4C47-99E9-D5FF275FCE3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA885E44-5FBB-4B0E-98D8-FCE60F5E570B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA885E44-5FBB-4B0E-98D8-FCE60F5E570B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C976931C-C0B9-4083-A14D-44C95D466A44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8906438C-DF24-4516-988F-AF012B1A748D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA11A002-342D-4E5C-A3F8-1FD974D27466</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0102C32-2278-4EF8-9678-038EA7AFD666</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D85C4D6A-F72B-48DD-B4CA-9D75701BBE0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4B06C22-B123-488F-9E5D-4E87D28E9665</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>521F264C-1C1A-4B26-A10A-54765BE2FC06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C55D340F-486C-42D9-9E74-7D91E205D1DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6110E07-DA88-46FA-B7ED-0B09734B5E3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C976931C-C0B9-4083-A14D-44C95D466A44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8DA7E0F-A277-4060-B62D-3AF46830CBC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAB674DD-E9EE-4047-8513-B8DADCB84A26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61B15C07-D3B9-4162-85E0-E3436482B6E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E8DA7E0F-A277-4060-B62D-3AF46830CBC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E6A2953-F646-4FC7-93AF-E35AA618CCEC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAA1AF1B-B7D6-477B-879D-4DD2632AB45A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D85C4D6A-F72B-48DD-B4CA-9D75701BBE0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Save a quick note</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Save 'ur note</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Save a quick note</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>0D2894C0-6AAA-48CF-8273-C1C23A4172EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>theText</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0899E68D-8640-49C4-8FC5-10D44BBCB1FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:fileFolder}/QuickNote.txt</string>
				<key>filetext</key>
				<string>
{var:theText}

(Added on {isodate: EEEE dd MMMM YYYY} at {isotime: HH:mm:ss})
----------</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>EAA1AF1B-B7D6-477B-879D-4DD2632AB45A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your note has been saved to the QuickNote.txt file</string>
				<key>title</key>
				<string>Save a quick note</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D85C4D6A-F72B-48DD-B4CA-9D75701BBE0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:fileFolder}/QuickNote.txt</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>A6110E07-DA88-46FA-B7ED-0B09734B5E3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.lines.trim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>28F9EAEC-BD57-4806-B8D9-AE4668EE2F27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:addNote}</string>
				<key>subtext</key>
				<string>Type some text</string>
				<key>text</key>
				<string>Type &lt;space&gt;, the text of your quick note then ⏎</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>543F74D1-92E3-4DD6-AB90-0A6B3A2B2131</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>file exists</string>
						<key>uid</key>
						<string>DE9BBCB2-A2F4-4408-9FA5-CF0166BC9A3D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>create file</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>62EF3A84-8886-4155-B016-66B4908B66B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>theText</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>10552175-AC02-4F56-9334-3F907A722460</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:fileFolder}/QuickNote.txt</string>
				<key>filetext</key>
				<string>Quick notes

{var:theText}

(Added on {isodate: EEEE dd MMMM YYYY} at {isotime: HH:mm:ss})
----------</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>C0102C32-2278-4EF8-9678-038EA7AFD666</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:quickPara}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter a multi-line quick note (press ⏎ to continue)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2F1ABB2E-FB26-4D22-B27C-87F3CBF83E61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>↩: New paragraph · ⌘↩: Save text · ⌘0: Toggle size of window · Esc: End workflow</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>123A0AAE-F1DB-45F8-8F6F-C35F7160ABB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>theText</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C55D340F-486C-42D9-9E74-7D91E205D1DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>⌘↩: Edit the QuickNote.txt file · ⌘0: Toggle size of window · Esc: End workflow</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>3FE0687C-9B01-43C9-8E98-6688D6A960A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:fileFolder}/QuickNote.txt</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.read</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>6DB6DD22-2405-4189-A787-D97E43D6A852</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>Edit QN text file</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5951C203-E1DC-4C18-8B94-A7736A5661BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:viewFile}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>View the Quick Notes file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DAB674DD-E9EE-4047-8513-B8DADCB84A26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:theFile}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>027AF2A6-D148-47C4-8523-2B59F78D948F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>view file</string>
						<key>uid</key>
						<string>8906438C-DF24-4516-988F-AF012B1A748D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2FF29331-C6FE-41C4-A584-1C9843D65FD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>theFile</key>
					<string>{var:fileFolder}/QuickNote.txt</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>61B15C07-D3B9-4162-85E0-E3436482B6E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>End the workflow</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>There is no existing Quick Notes file. It will be automatically created next time you use the workflow to create a quick note.</string>
				<key>title</key>
				<string>View Quick Notes file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>9FAC3117-49B5-4528-8314-8F2F8B7F4608</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:fileFolder}/QuickNote.txt</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>3E6A2953-F646-4FC7-93AF-E35AA618CCEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>↩: New paragraph · ⌘↩: Save text · ⌘0: Toggle size of window · Esc: End workflow</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>E8DA7E0F-A277-4060-B62D-3AF46830CBC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The QuickNote.txt file has been saved</string>
				<key>title</key>
				<string>Edit Quick Notes file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>72D2F5B8-4B8C-4DE8-B027-880D973C004B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:fileFolder}/QuickNote.txt</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/file.read</string>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>Edit QN text file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C976931C-C0B9-4083-A14D-44C95D466A44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:editFile}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Edit the Quick Notes file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F3CD5E2-C09C-45FF-A4A6-214A99FD4E85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:fileFolder}/QuickNote.txt</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>A8367509-E91E-4C47-99E9-D5FF275FCE3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>open file</string>
						<key>uid</key>
						<string>8906438C-DF24-4516-988F-AF012B1A748D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AA885E44-5FBB-4B0E-98D8-FCE60F5E570B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>End the workflow</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>There is no existing Quick Notes file. It will be automatically created next time you use the workflow to create a quick note.</string>
				<key>title</key>
				<string>Open Quick Notes file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>AA11A002-342D-4E5C-A3F8-1FD974D27466</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:fileFolder}/QuickNote.txt</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>721E4646-A50D-4C7C-A6C8-B2E0C3BFE393</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The QuickNote.txt file has been moved to the Trash</string>
				<key>title</key>
				<string>Delete quick notes file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>669ABA02-F9DA-4448-A132-72D9368E3AC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:deleteNotesFile}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Delete the quick notes file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BED63B9-A57D-44D8-848C-03FC262A6DC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{var:fileFolder}/QuickNote.txt</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C4B06C22-B123-488F-9E5D-4E87D28E9665</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>delete file</string>
						<key>uid</key>
						<string>8906438C-DF24-4516-988F-AF012B1A748D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>521F264C-1C1A-4B26-A10A-54765BE2FC06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>End the workflow</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>There is no existing Quick Notes file. It will be automatically created next time you use the workflow to create a quick note.</string>
				<key>title</key>
				<string>Open Quick Notes file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>3A50BF7A-0C5B-4CCD-9044-11A63C473FB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Important note

*Version 2.0 (and later) of this workflow requires Alfred 5.5 (and above).* If you are not using Alfred 5.5 (or later) please install [version 1.13](https://github.com/Stephen-Lon/Alfred-workflow-save-ur-note/releases/tag/v1.13) of this workflow. If moving from version 1.13 to this version please note that some of the default keywords have changed.

# Introduction

Sometimes when working you want to make a short, temporary quick note for future reference without bothering to open a dedicated Notes app. That is what this workflow does. It uses a simple plain text file (which will be created for you when you first create a note by running the workflow) to which saved notes will be appended (rather like a scratch pad). You select the location folder for that file in the workflow configuration opposite.

However, the workflow does a little more than that. You can also save text clippings by selecting text and using your Universal Action hot key on the selected text.

# Difference between quick note and quick paragraph
If you want to add a very quick note of a single line or two (without including any line breaks) use the `quick note` keyword (`qn` by default). The `quick paragraph` keyword (`qp` by default) opens a text window where you can type and view several lines or paragraphs—allowing for longer notes.

# Setup

In the workflow configuration choose:
- the folder where you want to keep your `QuickNote.txt` file;
- the keyword you want to use to create a quick note (the defaults are `cqn`—for "create quick note"—or simply `qn`);
- the keyword you want to use to create a quick paragraph or paragraphs (the defaults are `cqp`—for "create quick paragraph"—or simply `qp`);
- the keyword you want to use to view the `QuickNote.txt` file (the default is `vqn`—for "view quick notes");
- the keyword you want to use to *edit* the `QuickNote.txt` file (the default is `eqn`—for "edit quick notes");
- the keyword you want to use to *delete* the `QuickNote.txt` file  (the default is `dqn`—for "delete quick notes").

# Usage—saving quick notes

As of version 2.0 of the workflow there are three ways in which to create a quick note.

1. You can use your Universal Action hotkey on selected text, choose `Save a quick note` from the list and press &lt;kbd&gt;⏎&lt;/kbd&gt;. The selected text will be saved in the quick notes file (which is created if it does not already exist) together with the date and time the note was appended.
![Save 'ur note](Images/The Universal Action.png)

2. You can use the keyword set to create a quick note and type the text of the note. In that case that you must type a single line of text (with spaces and punctuation as necessary, of course): you cannot use newlines or returns to create a multi-line note. (There is no such restriction if you are *copying* selected text as in 1 above.)
![Save 'ur note](Images/Supply the text.png)
If you want to include ⏎ in your note use the next option.

3. You can use the keyword set to create a quick paragraph. In that case simply press &lt;kbd&gt;⏎&lt;/kbd&gt; after the keyword and a text window will open to allow you to type the text of your note (including line and paragraph breaks).
![Save 'ur note](Images/Text window.png)
Note the prompts at the bottom of the window. You can use &lt;kbd&gt;⏎&lt;/kbd&gt; to enter new lines, &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; to continue and save the quick note, &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;0&lt;/kbd&gt; (command + zero), if necessary, to toggle the maximum height of the Text View window and &lt;kbd&gt;esc&lt;/kbd&gt; to end the workflow without saving anything.


# Usage—viewing quick notes

The result of saving quick notes will be a plain text file which you can open in Alfred's Text View by using the relevant keyword set in the workflow configuation (by default `vqn` for "view quick notes").

Here's what it looks like:
![Save 'ur note](Images/The result.png)

Note the prompts at the bottom of the Text View window. If you press &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; the Text View window will become editable and the new prompts at the bottom of the window will show the  actions available (see below). Again you can press &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;0&lt;/kbd&gt; (command + zero), if necessary, to toggle the maximum height of the Text View window.

# Usage—editing the quick notes file

You can use the relevant keyword set in the workflow configuration (by default `eqn` for "edit quick notes"). If you do that you'll see the same text window as if you were merely *viewing* the quick notes file but this time the file will be editable and the prompts at the bottom of the screen will differ, like this:
![Save 'ur note](Images/Edit window.png)

Thus you can use &lt;kbd&gt;⏎&lt;/kbd&gt; for new paragraphs, &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⏎&lt;/kbd&gt; to save the file,  &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;0&lt;/kbd&gt; (command + zero), if necessary, to toggle the maximum height of the Text View window and &lt;kbd&gt;esc&lt;/kbd&gt; to exit without saving.

# Usage—deleting the quick notes file

Simply use the keyword set in the workflow configuration (by default `dqn` for "delete quick notes") to move the quick notes file to the Trash.

---
**Version 1.1** 11/01/2024: added ability to view quick notes file in QuickLook with consequential tidying of workflow configuration.
**Version 1.11** 11/01/2024: small correction to one dialog.  
**Version 1.12** 19/01/2024: deleted incorrect pass through of text variable when adding a note.  
**Version 1.13** 22/01/2024: added warning about use of earlier Alfred versions.  
**Version 2.0** 20/02/2024: added ability to create multi-line quick notes using new `Text View` action in Alfred 5.5 and generally made use of new `Text View` action. Corrected Write Text File action to ensure on creation of new file intermediate folders are created if required.
**Version 2.01** 26/03/2024: added three letter keywords for creating quick notes to comply with Alfred Gallery submission guidelines.</string>
	<key>uidata</key>
	<dict>
		<key>027AF2A6-D148-47C4-8523-2B59F78D948F</key>
		<dict>
			<key>note</key>
			<string>Does a quick notes file exist?</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>0899E68D-8640-49C4-8FC5-10D44BBCB1FA</key>
		<dict>
			<key>note</key>
			<string>Store selected text as variable</string>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>0D2894C0-6AAA-48CF-8273-C1C23A4172EA</key>
		<dict>
			<key>note</key>
			<string>Universal Action limited to selected text</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>10552175-AC02-4F56-9334-3F907A722460</key>
		<dict>
			<key>note</key>
			<string>Store text variable</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>123A0AAE-F1DB-45F8-8F6F-C35F7160ABB4</key>
		<dict>
			<key>note</key>
			<string>Longer quick note</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>28F9EAEC-BD57-4806-B8D9-AE4668EE2F27</key>
		<dict>
			<key>note</key>
			<string>Trim leading &amp; trailing white space</string>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>2BED63B9-A57D-44D8-848C-03FC262A6DC7</key>
		<dict>
			<key>note</key>
			<string>Keyword to delete quick notes file</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
		<key>2F1ABB2E-FB26-4D22-B27C-87F3CBF83E61</key>
		<dict>
			<key>note</key>
			<string>Prompt for (longer) note text</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>2FF29331-C6FE-41C4-A584-1C9843D65FD0</key>
		<dict>
			<key>note</key>
			<string>Open file if file exists otherwise error</string>
			<key>xpos</key>
			<real>554</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>3A50BF7A-0C5B-4CCD-9044-11A63C473FB1</key>
		<dict>
			<key>note</key>
			<string>Helpful error message</string>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>1390</real>
		</dict>
		<key>3E6A2953-F646-4FC7-93AF-E35AA618CCEC</key>
		<dict>
			<key>note</key>
			<string>Save file</string>
			<key>xpos</key>
			<real>1035</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>3FE0687C-9B01-43C9-8E98-6688D6A960A6</key>
		<dict>
			<key>note</key>
			<string>Non-editable view in Text View</string>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>4F3CD5E2-C09C-45FF-A4A6-214A99FD4E85</key>
		<dict>
			<key>note</key>
			<string>Keyword to edit quick notes file</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>521F264C-1C1A-4B26-A10A-54765BE2FC06</key>
		<dict>
			<key>note</key>
			<string>Open file if file exists otherwise error</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>1265</real>
		</dict>
		<key>543F74D1-92E3-4DD6-AB90-0A6B3A2B2131</key>
		<dict>
			<key>note</key>
			<string>Prompt for (short) note text</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>5951C203-E1DC-4C18-8B94-A7736A5661BF</key>
		<dict>
			<key>note</key>
			<string>Go to Text View in edit mode</string>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>61B15C07-D3B9-4162-85E0-E3436482B6E4</key>
		<dict>
			<key>note</key>
			<string>Store file variable</string>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>62EF3A84-8886-4155-B016-66B4908B66B6</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>669ABA02-F9DA-4448-A132-72D9368E3AC5</key>
		<dict>
			<key>note</key>
			<string>Let you know it's happened</string>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>6DB6DD22-2405-4189-A787-D97E43D6A852</key>
		<dict>
			<key>note</key>
			<string>Send file contents to Text View</string>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>721E4646-A50D-4C7C-A6C8-B2E0C3BFE393</key>
		<dict>
			<key>note</key>
			<string>Send to Trash</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>72D2F5B8-4B8C-4DE8-B027-880D973C004B</key>
		<dict>
			<key>note</key>
			<string>Let you know it's happened</string>
			<key>xpos</key>
			<real>1225</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>9FAC3117-49B5-4528-8314-8F2F8B7F4608</key>
		<dict>
			<key>note</key>
			<string>Helpful error message</string>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>A6110E07-DA88-46FA-B7ED-0B09734B5E3E</key>
		<dict>
			<key>note</key>
			<string>Does a quick notes file exist?</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>A8367509-E91E-4C47-99E9-D5FF275FCE3B</key>
		<dict>
			<key>note</key>
			<string>Does a quick notes file exist?</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>AA11A002-342D-4E5C-A3F8-1FD974D27466</key>
		<dict>
			<key>note</key>
			<string>Helpful error message</string>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>1115</real>
		</dict>
		<key>AA885E44-5FBB-4B0E-98D8-FCE60F5E570B</key>
		<dict>
			<key>note</key>
			<string>Open file if file exists otherwise error</string>
			<key>xpos</key>
			<real>453</real>
			<key>ypos</key>
			<real>960</real>
		</dict>
		<key>C0102C32-2278-4EF8-9678-038EA7AFD666</key>
		<dict>
			<key>note</key>
			<string>Create fresh quick notes file and append the note plus date &amp; time</string>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>C4B06C22-B123-488F-9E5D-4E87D28E9665</key>
		<dict>
			<key>note</key>
			<string>Does a quick notes file exist?</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
		<key>C55D340F-486C-42D9-9E74-7D91E205D1DB</key>
		<dict>
			<key>note</key>
			<string>Store text variable</string>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>C976931C-C0B9-4083-A14D-44C95D466A44</key>
		<dict>
			<key>note</key>
			<string>Send file contents to Text View</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>D85C4D6A-F72B-48DD-B4CA-9D75701BBE0C</key>
		<dict>
			<key>note</key>
			<string>Let you know it's happened</string>
			<key>xpos</key>
			<real>1265</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>DAB674DD-E9EE-4047-8513-B8DADCB84A26</key>
		<dict>
			<key>note</key>
			<string>Keyword to view quick notes file</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>E8DA7E0F-A277-4060-B62D-3AF46830CBC8</key>
		<dict>
			<key>note</key>
			<string>Editable view in Text View</string>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>EAA1AF1B-B7D6-477B-879D-4DD2632AB45A</key>
		<dict>
			<key>note</key>
			<string>Append the note plus date &amp; time</string>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Documents/QuickNote</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Choose a folder in which the Quick Notes file will be saved.</string>
			<key>label</key>
			<string>Folder for Quick Notes file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>fileFolder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cqn||qn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Choose a keyword to add short text to the Quick Notes file. (Selected text uses a Universal Action.)</string>
			<key>label</key>
			<string>Keyword to add a quick note</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>addNote</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cqp||qp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Choose a keyword to add a paragraph or paragraphs to the Quick Notes file. (Selected text uses a Universal Action.)</string>
			<key>label</key>
			<string>Keyword to add quick paragraph(s)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>quickPara</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>vqn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Choose a keyword to view the Quick Notes file.</string>
			<key>label</key>
			<string>Keyword to view file</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>viewFile</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>eqn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Choose a keyword to open the Quick Notes file.</string>
			<key>label</key>
			<string>Keyword to open Quick Notes file</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>editFile</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dqn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Choose a keyword to delete the Quick Notes file.</string>
			<key>label</key>
			<string>Keyword to delete Quick Notes file</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>deleteNotesFile</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.01</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
