<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jdfwarrior.recentdocs</string>
	<key>connections</key>
	<dict>
		<key>DF79822F-BA04-4B1F-BD8A-D751EAA321CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7B10E3F-8356-42CA-BA1E-ECC145DDFFF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Ferguson</string>
	<key>description</key>
	<string>Search Recent Documents in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Recent Documents</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D7B10E3F-8356-42CA-BA1E-ECC145DDFFF8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>runningsubtext</key>
				<string>Gathering documents ...</string>
				<key>script</key>
				<string>require('workflows.php');
require('sqlitedb.php');
$w = new Workflows();
$database = $w-&gt;home().'/Library/Application Support/Alfred 2/Databases/knowledge.alfdb';
$sql = new SQLiteDB( $database );
$in = "{query}";
$recent = $sql-&gt;like( 'path', $in )-&gt;group_by( 'path' )-&gt;order_by( 'ts', 'DESC' )-&gt;get( 'recentdocs' );

if ( count( $recent ) == 0 ):
	$w-&gt;result( 'doc', 'na', 'No Documents', 'No recent documents were found. Did you just clear your knowledge?', 'icon.png', 'no' );
else:
foreach( $recent as $doc ):
	$app = $w-&gt;mdfind('"kMDItemCFBundleIdentifier == \''.$doc-&gt;bundle.'\'"');
	$app = $app[0];
	$w-&gt;result( 'doc', $doc-&gt;path, basename( $doc-&gt;path ), dirname( $doc-&gt;path ), 'fileicon:'.$app, 'yes', '', 'file' );
endforeach;
endif;
echo $w-&gt;toxml();</string>
				<key>subtext</key>
				<string>Find Recent Alfred Documents</string>
				<key>title</key>
				<string>Find Recent Documents</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DF79822F-BA04-4B1F-BD8A-D751EAA321CC</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>D7B10E3F-8356-42CA-BA1E-ECC145DDFFF8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DF79822F-BA04-4B1F-BD8A-D751EAA321CC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>dferg.us</string>
</dict>
</plist>
