"*":
  "exception-reporting":
    userId: "b2656757-6276-af22-a7b2-eaaa7f2e7a53"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    fontSize: 21
  "linter-puppet-lint":
    executablePath: "/usr/local/bin/puppet-lint"
    oldVersion: false
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
